{% load static %}

<div class="flex flex-col gap-3 items-start">
  {% for room in rooms %}
  <div
    class="w-full flex flex-col gap-3 items-start px-5 py-2 bg-slate-700 rounded-lg"
  >
    <!-- Room Info -->
    <div class="w-full flex flex-row gap-3 items-center justify-between">
      <a
        href="{% url 'user-profile' room.host.id %}"
        class="flex flex-row items-center gap-2"
      >
        <img
          src="{{room.host.userprofile.avatar.url}}"
          class="w-10 h-10 rounded-full object-cover border-2 border-sky-400"
        />
        <p class="text-sky-400">@{{room.host.username}}</p>
      </a>
      <p class="text-xs lg:text-sm text-slate-400">{{room.created|timesince}} ago</p>
    </div>

    <!-- Room Name -->
    <a
      class="text-sm lg:text-lg text-slate-300 font-bold hover:text-sky-400"
      href="{% url 'room' room.id %}"
      >{{room.name}}</a
    >

    <hr class="w-full border-slate-600" />

    <!-- Room Info -->
    <div class="w-full flex flex-row items-center justify-between">
      <div class="flex flex-row items-end gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          color="#000000"
          fill="none"
          class="text-slate-300"
        >
          <path
            d="M6.57757 15.4816C5.1628 16.324 1.45336 18.0441 3.71266 20.1966C4.81631 21.248 6.04549 22 7.59087 22H16.4091C17.9545 22 19.1837 21.248 20.2873 20.1966C22.5466 18.0441 18.8372 16.324 17.4224 15.4816C14.1048 13.5061 9.89519 13.5061 6.57757 15.4816Z"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M16.5 6.5C16.5 8.98528 14.4853 11 12 11C9.51472 11 7.5 8.98528 7.5 6.5C7.5 4.01472 9.51472 2 12 2C14.4853 2 16.5 4.01472 16.5 6.5Z"
            stroke="currentColor"
            stroke-width="1.5"
          />
        </svg>
        <p class="text-xs lg:text-sm font-bold text-slate-400">
          {{room.participants.all.count}} Joined
        </p>
      </div>

      <!-- Room Topic -->
      <span class="text-xs lg:text-sm bg-slate-600 px-3 py-1 rounded-full text-nowrap"
        >{{room.topic.name}}</span
      >
    </div>
  </div>
  {% endfor%}
</div>
