{% extends 'main.html' %} {% block content %}
<div class="flex flex-col items-center justify-center bg-slate-700 rounded-lg">
  <!-- Title Bar -->
  <div
    class="w-full flex flex-row items-center gap-5 bg-slate-600 p-3 rounded-t-lg"
  >
    <a href="{{request.META.HTTP_REFERER}}"
      >{% include 'base/components/back_button.html' %}</a
    >
    <h4 class="text-sm lg:text-lg text-slate-300 font-bold">Back</h4>
  </div>

  <!-- Form Section -->
  <form method="POST" action="" class="p-3 md:p-5 lg:p-10">
    {% csrf_token %}

    <div class="flex flex-col items-start gap-5">
      <p class="text-lg text-slate-300">
        Are you sure you want to delete "{{obj}}" ?
      </p>
      <input
        class="text-sm bg-sky-200 py-1 lg:py-2 px-2 lg:px-3 rounded-lg text-sky-950"
        type="submit"
        value="Confirm"
      />
    </div>
  </form>
</div>
{% endblock content %}
