{% extends 'main.html' %} {% load static %} {% block content %}

<div class="w-full lg:w-[80%] flex flex-col items-center gap-5">
  <!-- Search Bar -->
  <div id="searchbar">{% include 'base/components/search_bar.html' %}</div>

  <!-- Buttons -->
  <div class="w-full flex flex-row gap-3 justify-between">
    <button
      id="browse-button"
      class="border-2 border-sky-200 rounded-full text-sm font-bold p-2"
    >
      Browse Topics
    </button>
    <button
      id="activity-button"
      class="border-2 border-sky-200 rounded-full text-sm font-bold p-2"
    >
      Recent Activities
    </button>
  </div>

  <!-- Main Section -->
  <div class="w-full flex flex-row justify-center gap-5">
    <!-- Topics Side Bar -->
    <div
      id="topics-sidebar"
      class="md:w-[30%] lg:w-[25%] h-vp sticky top-[110px]"
    >
      {% include 'base/components/topics_component.html' %}
    </div>

    <!-- User Profile -->
    <div class="w-full lg:w-[50%] flex flex-col gap-5">
      <!-- Profile Section -->
      <div class="flex flex-col gap-3">
        <!-- User Info -->
        <div class="flex flex-col items-center gap-3">
          <img
            src="{{user.userprofile.avatar.url}}"
            class="w-20 h-20 rounded-full object-cover border-2 border-sky-400 bg-slate-600"
          />

          <div class="flex flex-col items-center gap-2">
            <h1 class="text-lg font-bold leading-5 text-center">
              {% if user.first_name and user.last_name %}
              {{user.first_name}} {{user.last_name}}
              {% else %}
              {{user.username}}
              {% endif %}
            </h1>

            <p class="text-sm text-sky-400">@{{user.username}}</p>

            {% if request.user == user %}
            <a
              href="{% url 'update-user' %}"
              class="text-sm font-bold text-sky-400 border-2 border-sky-400 px-5 p-1 rounded-full"
            >
              Edit Profile
            </a>
            {% endif %}
          </div>
        </div>

        <!-- About Section -->
        <div class="flex flex-col gap-2">
          <h1 class="text-lg font-semibold text-slate-500">ABOUT</h1>
          {% if user.userprofile.bio %}
          <p class="text-sm text-slate-300">
            {{user.userprofile.bio}}
          </p>
          {% endif %}
        </div>
      </div>

      <!-- Rooms Section -->
      <h1 class="text-lg font-bold text-slate-500">
        STUDY ROOMS HOSTED BY {{user.username|upper}}
      </h1>
      {% include 'base/components/feed_component.html' %}
    </div>

    <!-- Activity Side Bar -->
    <div
      id="activity-sidebar"
      class="md:w-[30%] lg:w-[25%] h-vp sticky top-[110px]"
    >
      {% include 'base/components/activity_component.html' %}
    </div>
  </div>
</div>

{% endblock content %}
