{% extends 'main.html' %} {% block content %}
<div class="w-full lg:w-[50%] flex items-center justify-center">
  <div class="w-full flex flex-col rounded-lg bg-slate-700">
    <!-- Title Bar -->
    <div class="flex flex-row items-center gap-5 bg-slate-500 rounded-t-lg p-3">
      <a href="{% url 'home' %}">{% include 'base/components/back_button.html' %}</a>
      <h4 class="text-sm lg:text-lg text-slate-300 font-bold">Create/Update Study Room</h4>
    </div>

    <!-- Form -->
    <form method="POST" action="" class="flex flex-col px-2 md:px-5  lg:px-10 py-5 gap-5">
      {% csrf_token %}

      <!-- Form Fields -->
      <div class="flex flex-col items-start gap-5">
        <div class="w-full flex flex-col items-start justify-start gap-3">
          <label class="text-lg text-slate-300">Topic</label>
          <input
            required
            type="text"
            name="topic"
            value="{{room.topic.name}}"
            list="topic-list"
            placeholder="Enter a topic"
            class="w-full text-slate-300 rounded-lg bg-slate-800 py-2 px-3 focus:outline-none"
          />
          <datalist id="topic-list">
            <select id="room_topic">
              {% for topic in topics %}
              <option value="{{topic.name}}">{{topic.name}}</option>
              {% endfor %}
            </select>
          </datalist>
        </div>

        <div class="w-full flex flex-col items-start justify-start gap-3">
          <label class="text-lg text-slate-300">Room Name</label>
          <input
            required
            type="text"
            name="name"
            value="{{room.name}}"
            placeholder="Enter a room name"
            class="w-full text-slate-300 rounded-lg bg-slate-800 py-2 px-3 focus:outline-none"
          />
        </div>

        <div class="w-full flex flex-col items-start justify-start gap-3">
          <label class="text-lg text-slate-300">Description</label>
          <textarea
            name="description"
            rows="5"
            placeholder="Enter room description"
            class="w-full text-slate-300 rounded-lg bg-slate-800 py-2 px-3 focus:outline-none"
          >
{{room.description}}</textarea
          >
        </div>
      </div>

      <!-- Buttons -->
      <div class="flex flex-row items-center justify-end gap-5">
        <a
          href="{% url 'home' %}"
          class="text-sm text-slate-300 text-center bg-slate-500 px-2 py-1 lg:px-5 lg:py-2 rounded-lg text-center w-fit cursor-pointer"
          >Cancel</a
        >
        <input
          type="submit"
          value="Submit"
          class="text-sm text-sky-950 text-center bg-sky-200 px-2 py-1 lg:px-5 lg:py-2 rounded-lg text-center w-fit cursor-pointer"
        />
      </div>
    </form>
  </div>
</div>
{% endblock content %}
