{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon" >
    <script src="{% static 'js/index.js' %}" defer > </script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
            },
            height: {
              vp: "calc(100vh - 150px)",
            },
          },
        },
      };
    </script>
    <title>StudyBuddy</title>
  </head>
  <body class="bg-slate-800 text-slate-300">
    <!-- NavBar -->
    {% include 'navbar.html' %}

    <!-- Messages -->
    {% if messages %}
    <div class="flex items-center justify-center mt-5 fixed top-[60px] right-[50%] z-50">
      <ul class="bg-sky-200 py-2 px-5 rounded-lg animate-bounce">
        {% for message in messages %}
        <li class="text-center text-ls text-slate-950">{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <!-- Main Section -->
    <div class="py-10 px-5 md:px-5 lg:px-0 flex items-center justify-center">
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
