{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{% static 'images/logo.png' %}"
      type="image/x-icon"
    />
    <script src="{% static 'js/index.js' %}" defer></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
            },
            height: {
              vp: "calc(100vh - 150px)",
            },
          },
        },
      };
    </script>
    <title>StudyBuddy</title>
  </head>
  <body class="bg-slate-800 text-slate-300">
    <!-- NavBar -->
    {% include 'navbar.html' %}

    <!-- Messages -->
    {% if messages %}
    <div
      class="flex items-center justify-center mt-5 fixed top-[60px] left-[50%] right-[50%] z-50"
    >
      <ul class="bg-sky-200 py-2 px-5 rounded-lg animate-bounce">
        {% for message in messages %}
        <li class="text-center text-sm lg:text-lg text-slate-950 text-nowrap">
          {{message}}
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <!-- Main Section -->
    <div
      class="py-5 px-5 md:px-5 lg:px-0 flex items-center justify-center relative"
    >
      <!-- Browse Topics -->
      <div
        id="topics-sidebar-mobile"
        class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center"
      >
        <div
          class="z-50 w-[90%] h-vp fixed top-[100px] bg-slate-800 rounded-lg p-3 border-2 border-sky-200 flex flex-col gap-2"
        >
          <button id="browse-close-button" class="absolute top-2 right-2">
            {% include 'base/components/close_button.html' %}
          </button>
          {% include 'base/components/topics_component.html' %}
        </div>
      </div>

      <!-- Recent Activity -->
      <div
        id="activity-sidebar-mobile"
        class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center"
      >
        <div
          class="z-50 w-[90%] h-vp fixed top-[100px] bg-slate-800 rounded-lg border-2 border-sky-200 flex flex-col gap-2"
        >
          <button id="activity-close-button" class="absolute top-2 right-2">
            {% include 'base/components/close_button.html' %}
          </button>
          {% include 'base/components/activity_component.html' %}
        </div>
      </div>

      <!-- Participants -->
      <div
        id="participants-sidebar-mobile"
        class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center"
      >
        <div
          class="z-50 w-[90%] h-vp fixed top-[100px] bg-slate-800 rounded-lg border-2 border-sky-200 flex flex-col gap-2"
        >
          <button id="participants-close-button" class="absolute top-2 right-2">
            {% include 'base/components/close_button.html' %}
          </button>
          {% include 'base/components/participants_component.html' %}
        </div>
      </div>

      {% block content %} {% endblock %}
    </div>
  </body>
</html>
