<div
  class="flex flex-row items-center justify-between gap-10 px-10 py-3 bg-slate-800"
>
  <div class="flex flex-row gap-10 items-center">
    <a href="/">
      <h1 class="text-lg font-bold text-white">StudyBuddy</h1>
    </a>
    <form method="GET" action="{% url 'home' %}">
      <input
        type="text"
        name="q"
        placeholder="Search Room..."
        class="rounded-lg p-1 px-2 bg-slate-600 focus:outline-none"
      />
    </form>
  </div>

  <div class="flex flex-row items-center gap-3">
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">
      <h1 class="text-lg text-sky-950 py-1 px-2 bg-sky-400 rounded-lg">
        Logout
      </h1>
    </a>
    {% else %}
    <a href="{% url 'login' %}">
      <h1 class="text-lg text-sky-950 py-1 px-2 bg-sky-400 rounded-lg">
        Login
      </h1>
    </a>

    <a href="{% url 'register' %}">
      <h1 class="text-lg text-sky-950 py-1 px-2 bg-sky-400 rounded-lg">
        Retister
      </h1>
    </a>
    {% endif %}
  </div>
</div>

<hr />
