{% load static %}

<div
  id="activity-sidebar"
  class="md:w-[30%] lg:w-[25%] h-vp flex flex-col gap-2 bg-slate-700 rounded-lg sticky top-[110px]"
>
  <h4
    class="text-lg text-slate-400 font-semibold bg-slate-600 p-2 rounded-t-lg"
  >
    RECENT ACTIVITY
  </h4>

  <div class="flex flex-col gap-5 p-2 overflow-y-auto">
    {% for message in room_messages %}
    <div
      class="flex flex-col gap-3 border-[1px] border-slate-500 rounded-lg p-2"
    >
      {% if request.user == message.user %}
      <a
        href="{% url 'delete-message' message.id %}"
        class="w-fit text-sm text-sky-400 place-self-end"
        >{% include 'base/delete_button.html' %}</a
      >
      {% endif %}

      <div class="flex flex-row gap-1">
        <a href="{% url 'user-profile' message.user.id %}">
          <img
            src="{% static 'images/owais.jpeg' %}"
            class="w-12 h-10 rounded-full object-cover border-2 border-sky-400"
          />
        </a>

        <div class="w-full flex flex-col gap-2">
          <div class="w-full flex flex-row justify-between">
            <a
              href="{% url 'user-profile' message.user.id %}"
              class="text-sm text-sky-400"
              >@{{message.user}}
            </a>
            <small class="text-sm text-slate-400"
              >{{message.created|timesince}} ago</small
            >
          </div>

          <small class="text-sm text-slate-300"
            >replied to post
            <a href="{% url 'room' message.room.id %}" class="text-sky-400"
              >'{{message.room}}'</a
            ></small
          >
        </div>
      </div>

      <div class="flex flex-col gap-3">
        <p class="text-sm bg-slate-800 p-2 rounded-lg">{{message}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
