{% extends 'main.html' %} {% block content %}

<div class="flex flex-row gap-5 justify-between">
  <div class="flex flex-col gap-3">
    <h4>Browse Topics</h4>
    <hr />

    <div>
      <a href="{%url 'home' %}">All</a>
    </div>
    {% for topic in topics %}
    <div>
      <a href="{%url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
    </div>
    {% endfor %}
  </div>

  <div class="flex flex-col gap-5">
    <h5>{{room_count}} room available</h5>
    <a
      href="{% url 'create-room' %}"
      class="bg-sky-400 py-1 px-2 rounded-lg w-fit"
      >Create Room</a
    >

    <div class="flex flex-col gap-3 items-start">
      {% for room in rooms%}
      <div class="flex flex-col gap-2 items-start p-2 bg-slate-700 rounded-lg">
        
        {% if request.user == room.host %}
        <div class="flex flex-row gap-3">
          <a
            class="text-xs font-bold bg-sky-400 px-2 py-1 rounded-lg"
            href="{% url 'update-room' room.id %}"
            >Edit Room</a
          >
          <a
            class="text-xs font-bold bg-sky-400 px-2 py-1 rounded-lg"
            href="{% url 'delete-room' room.id %}"
            >Delete Room</a
          >
        </div>
        {% endif %}

        <span class="text-sky-400">@{{room.host.username}}</span>
        <h5>
          {{room.id}} --> <a href="{% url 'room' room.id %}">{{room.name}}</a>
        </h5>
        <span class="text-sm bg-slate-600 px-2 py-1 rounded-full"
          >{{room.topic.name}}</span
        >
      </div>

      <hr />
      {% endfor%}
    </div>
  </div>

  <div><h4>Browse Topics</h4></div>
</div>

{% endblock content%}
