{% extends 'main.html' %} {% block content %}

<div class="w-[80%] flex flex-row gap-5">
  <!-- Side Bar -->
  {% include 'base/topics_component.html' %}

  <!-- Main Section -->
  <div class="w-[50%] flex flex-col gap-5">
    <div class="flex flex-row items-center justify-between">
      <div>
        <h1 class="text-lg text-slate-300 font-semibold">STUDY ROOMS</h1>
        <h5 class="text-sm text-slate-500 font-bold">
          Total {{room_count}} Room Found Near You
        </h5>
      </div>

      <a
        href="{% url 'create-room' %}"
        class="flex flex-row items-center gap-2 bg-sky-200 text-lg fong-semibold text-sky-950 py-1 px-2 rounded-lg w-fit"
        >{% include 'base/create_button.html' %} Create Room</a
      >
    </div>

    {% include 'base/feed_component.html' %}
  </div>

  <!-- Side Bar -->
  {% include 'base/activity_component.html' %}
</div>

{% endblock content%}
